<div class="form-wrapper">
    {{ form_start(form, { 'action': path('simple_user_password_reset', {'passwordResetHash': user.passwordResetHash }), 'method': 'post'}) }}
    <h1>{{ 'Password reset'|trans() }}</h1>
    <div class="form-group">
        {{ form_errors(form.password.first) }}
        {{ form_label(form.password.first) }}
        {{ form_widget(form.password.first, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.password.second) }}
        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="auth-btn-section">
        {{ form_widget(form.submit, { 'attr': { 'class': 'form-control btn' }, 'label': 'Reset' }) }}
    </div>
    {{ form_end(form) }}
</div>