<div class="form-wrapper">
    {{ form_start(form, { 'action': path('simple_user_registration'), 'method': 'post'}) }}
    <h1>{{ 'Registration'|trans() }}</h1>
    <div class="form-group">
        {{ form_label(form._username) }}
        {{ form_widget(form._username, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form._password) }}
        {{ form_widget(form._password, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="auth-btn-section">
        {{ form_widget(form.submit, { 'attr': { 'class': 'form-control btn-default' }, 'label': 'Registration' }) }}
    </div>
    {{ form_end(form) }}
</div>